@import '~scss/_mixins';

.lm-ui-button {
    width: 100px;
    height: 50px;
    border: 1px solid #eee;
    background: #ccc;
}
.lm-ui-disable-button {
	width: 100px;
    height: 50px;
    border: 1px solid #ccc;
    float: right;
}
